#orgs-list {
  display: block;
}

#events-list {
  display: none;
}

#orgs-list, #events-list {
  padding-bottom: 10rem;
}

#lists, #selected {
  overflow: scroll;
}

.listing {
  background-color: white;
  margin-bottom: 0.4em;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  font-weight: 300;
  cursor: pointer;
  min-height: 6.3em;
}

.listing-title {
  font-size: 1em;
  text-transform: capitalize;
  padding-right: 3vw;
  font-weight: 300;
}

.listing-areas {
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-end;
}

.category {
  border-radius: 3px;
  border: 1px solid grey;
  white-space: nowrap;
  padding: 0.1em 0.15em 0.09em 0.15em;
  margin: 0.1em;
  color: black;
  font-size: 0.7em;
  text-transform: uppercase;
}

.listing-description {
  font-size: 0.9em;
  line-height: 1.2em;
  /* max-height: 3em; */
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#orgs-list .listing-description p, #events-list .listing-description p {
  margin: 0;
}

.listing-pic {
  width: 28vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  border-radius: 10px 0 0 10px;
}

.listing-right {
  width: 66vw;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.listing-top {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.8em;
  align-items: baseline;
  justify-content: space-between;
}

.events-listing-right-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.events-listing-when {
  font-weight: 100;
  font-size: 0.7em;
  font-weight: 200;
  padding-top: 0.3em;
  text-transform: uppercase;
}

#selected {
  display: none;
  background-color: white;
  overflow: auto;
  z-index: 1;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  font-weight:300;
}

#selected-pic {
  height: 18vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  border-radius: 10px 10px 0 0;
}

#selected-top {
  margin-top: 0.4em;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#selected-description {
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 12px;
}

#selected-title {
  text-transform: capitalize;
  font-size: 1em;
}

#when {
  text-transform: uppercase;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 0.8em;
}

#left {
  width: 65%;
}

#right {
  width: 34%;
}

#selected-help-categories, #selected-specialisations {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

#selected-help-categories {

}

.help-needed-label {
  padding: 0.7em 0 0.5em 0;
  font-size: 0.8em;
  text-align: right;
  font-style: italic;
  /* text-transform: uppercase; */
}

#selected-bottom {
  padding-bottom: 25vh;
}

#selected-description p {
  margin-bottom: 0.5em;
}

#socials {
  padding-top: 0.5em;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em;
}

.social a {
  font-size: 0.7em;
  color: grey;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 85%;
}

.socials-icon {
  height: 0.9rem;
  width: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
  /* background-size: 100% auto; */
}

.website {
  background-image: url("images/g.png");
}
.eventbrite {
  background-image: url("images/e.png");
}
.twitter {
  background-image: url("images/t.png");
}
.instagram {
  background-image: url("images/i.png");
}
.facebook {
  background-image: url("images/f.png");
}
